<!DOCTYPE html>
<html>
<head>
<title>Module 5.5</title>
<style>

* {
	box-sizing:border-box;
}

	body {
		margin:0;
		
		background-image: url('coding.jpg');
		background-repeat: no-repeat;
		background-color:hsl(0, 100%, 25%);
		background-attachment: fixed;
		background-position: center;
		
	}
}

#footer p {
	text-align:center;
}

h1 {
	text-align:center;
	border-top: 2px dotted;
	border-bottom: 2px dotted;
	border-bottom-color: #0000FF;
	border-top-color: #0000FF;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	background-color: #808080;
}

#content-text p {
	padding: 5px 30px;
	text-indent: 30px;
	text-align: justify;
	}
}</style>
</head>
</body>
<p>
<h1>Office Productivity</h1>
The book contains <span>MS Word 2010, MS Excel 2010, MS
PowerPoint 2010 and MS Outlook 2010</span>. The book aims to educate
the students in creating documents, worksheets, presentations, and
organization using different software that may work relatively. </p>
</body>
</html>

<!--* {
	box-sizing:border-box;
}

body {
	margin:0;
	background-color: gray;
	background-image: url("images/bg.jfif");
	background-repeat: no-repeat;
	background-size: 100%;
}

.logo {
	float:left;
	margin-right: 10px;
	margin-left: 10px;
}

span {
	font-size:25px;
	color:white;
}

#header {
	background-color:blue;
	padding: 10px;
}

#nav ul li a {
	text-decoration:none;
	color: white;
	font-size: 20px;
}

#nav ul {
	list-style-type:none;
}

#nav ul li {
	float:left;
	padding: 10px;
}

#nav {
	display:flex;
	justify-content:center;
	background-color: black;
}

#content {
	clear:both;
}

#content-text {
	float:left;
	width: 70%;
}

#content-nav {
	float: right;
	width: 30%;
}

#footer {
	clear:both;
}

#footer p {
	text-align:center;
}

h1 {
	text-align:center;
}

#content-text p {
	padding: 5px 30px;
	text-indent: 30px;
	text-align: justify;
}-->